<h2>Exercices Fitness</h2>
<div>
    <label for="new-exercise">Exercise name: </label>
    <input id="new-exercise" #exerciseName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(exerciseName.value); exerciseName.value=''">
        Add exercise
    </button>
</div>
<ul class="exercises">
    <li *ngFor="let exercise of exercises">
        <a routerLink="/detail/{{exercise.id}}">
            <span class="badge">{{exercise.id}}</span> {{exercise.name}}
          </a>
          <button type="button" class="delete" title="delete exercise"
            (click)="delete(exercise)">x</button>
    </li>
</ul>

